<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
</head>
<body>
<a href="/bookstore/add_book">添加图书</a>
<table border="1">
    <tr>
        <td>编号</td>
        <td>名称</td>
        <td>定价</td>
        <td>零售价</td>
        <td>出版社</td>
        <td>操作</td>
    </tr>

    {% for b in books %}
        <tr>
            <td>{{b.id}}</td>
            <td>{{b.title}}</td>
            <td>{{b.price}}</td>
            <td>{{b.market_price}}</td>
            <td>{{b.pub}}</td>
            <td>
                <a href="/bookstore/update_book/{{b.id}}">更新</a>
                <a href="/bookstore/delete_book?bid={{b.id}}">删除</a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>