<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跨域测试</title>
</head>
<script src="/static/jquery-1.11.3.js"></script>
<body>
<button id="btn">测试cors</button>
</body>
<script>
    $(function(){
        $('#btn').click(function(){
            $.ajax({
                url:'http://localhost:8000/test_cors_server',
                type:'get',
                success:function(res){
                    alert(res);
                }
            })
        })
    })
</script>
</html>